{
  "defaultSeverity": "warning",
  "extends": "stylelint-config-recommended",
  "customSyntax": "postcss-scss",
  "rules": {
    "at-rule-allowed-list": null,
    "at-rule-disallowed-list": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-blockless", "first-nested"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["else"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "each",
          "content",
          "else",
          "extend",
          "if",
          "include",
          "mixin",
          "for",
          "elseif",
          "return",
          "function"
        ]
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "block-no-empty": true,
    "color-hex-length": "short",
    "color-named": [
      "never",
      {
        "severity": "error"
      }
    ],
    "color-no-hex": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [
      "always",
      {
        "ignore": ["after-comment", "stylelint-commands"]
      }
    ],
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "comment-word-disallowed-list": ["/^TODO:/"],
    "custom-media-pattern": null,
    "custom-property-empty-line-before": null,
    "custom-property-pattern": null,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "declaration-no-important": true,
    "declaration-property-unit-allowed-list": {
      "border": ["px"],
      "line-height": [],
      "outline-offset": ["px"]
    },
    "declaration-property-unit-disallowed-list": {},
    "declaration-property-value-allowed-list": {},
    "declaration-property-value-disallowed-list": {},
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "font-weight-notation": "numeric",
    "function-allowed-list": null,
    "function-calc-no-unspaced-operator": true,
    "function-disallowed-list": null,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "function-url-scheme-allowed-list": null,
    "function-url-scheme-disallowed-list": null,
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": true,
    "max-nesting-depth": 4,
    "media-feature-name-allowed-list": null,
    "media-feature-name-disallowed-list": null,
    "media-feature-name-no-unknown": true,
    "media-feature-name-no-vendor-prefix": true,
    "no-descending-specificity": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-invalid-double-slash-comments": true,
    "no-unknown-animations": true,
    "number-max-precision": [
      2,
      {
        "ignoreUnits": ["em", "rem"]
      }
    ],
    "property-allowed-list": null,
    "property-disallowed-list": null,
    "property-no-unknown": true,
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-attribute-operator-allowed-list": null,
    "selector-attribute-operator-disallowed-list": null,
    "selector-attribute-quotes": "always",
    "selector-class-pattern": "[a-z]+",
    "selector-combinator-allowed-list": null,
    "selector-combinator-disallowed-list": null,
    "selector-id-pattern": null,
    "selector-max-attribute": 1,
    "selector-max-class": 3,
    "selector-max-combinators": 2,
    "selector-max-compound-selectors": 3,
    "selector-max-id": 1,
    "selector-max-pseudo-class": 2,
    "selector-max-specificity": [
      "0,5,1",
      {
        "severity": "error"
      }
    ],
    "selector-max-type": 2,
    "selector-max-universal": 1,
    "selector-nested-pattern": null,
    "selector-no-qualifying-type": true,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-class-allowed-list": null,
    "selector-pseudo-class-disallowed-list": null,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-allowed-list": null,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-disallowed-list": null,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "shorthand-property-no-redundant-values": true,
    "string-no-newline": true,
    "time-min-milliseconds": 100,
    "unit-allowed-list": [
      "%",
      "deg",
      "em",
      "ms",
      "px",
      "rem",
      "s",
      "vh",
      "vmax",
      "vmin",
      "vw"
    ],
    "unit-disallowed-list": null,
    "unit-no-unknown": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}
