// Imported styles
@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/litera/bootswatch";

// Component styles
@import "./components/layout";
@import "./components/footer";
